nav {
  background-color: #26641a;
  color: white;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  top: 0;
  padding: 15px 15px;
  text-align: center;
  height: 70px;
}
.navText:hover {
  color: #b7b7f6;
}
.navText {
  text-align: center;
  color: #f0f8ff;
  font-size: 1.5rem;
  margin: 15px;
}
.NavContainer {
  display: flex;
  top: 0;
  gap: 10px;
}

.cardComp {
  margin: 15px 20px;
}
